{block content}
<div class="row">
    <div class="col">
        <p>TODO: Formulář pro editaci uživatele</p>

        <hr class="my-3">

        <a n:href="User:delete $userId" class="btn btn-primary">
            <i class="fa-solid fa-eraser pe-2"></i>
            Delete (ID {$userId})
        </a>
    </div>
</div>
