{block content}
<div class="row">
    <div class="col">
        <p>TODO: Formulář pro editaci uživatele</p>

        <a n:href="User:delete $userId" class="btn btn-primary">Delete test</a>
    </div>
</div>
