{block content}
<div class="row">
    <div class="col">
        <p>TODO: Formulář pro editaci menu</p>

        <hr class="my-3">

        <a n:href="Menu:delete $menuItem['id']" class="btn btn-danger" title="Smazat" aria-label="Smazat" onclick="return confirm('Opravdu chete smazat položku {$menuItem['name']} (ID: {$menuItem['id']})?')">
            <i class="fa-solid fa-eraser pe-2"></i>
            Smazat (ID {$menuItem['id']})
        </a>
    </div>
</div>
