{block content}
<div class="row">
    <div class="col">
        <p>TODO: Formulář pro editaci menu</p>

        <hr class="my-3">

        <a n:href="Menu:delete $menuId" class="btn btn-primary">
            <i class="fa-solid fa-eraser pe-2"></i>
            Delete (ID {$menuId})
        </a>
    </div>
</div>
