{block title}Ready{/block}
{block content}
<div>
    <h1>Installation completed</h1>
    <a n:href=":default">Show website home page</a>

    <hr />

    <h2>Installation log:</h2>
    <pre>{$phinxLog|noescape}</pre>
</div>
