{block title}Ready{/block}
{block content}
<div class="container mt-5">
    <h1 class="text-success">Lishack CMS 🦊 INSTALLATION COMPLETED!</h1>

    <a n:href="Article:default" class="btn btn-primary mt-4">Show website home page</a>

    <hr />

    <h2>Installation log:</h2>
    <pre>{$phinxLog|noescape}</pre>
</div>
