{block content}
<div class="row">
    <div class="col">
        <p>TODO: Seznam kontejnerů (data grid)</p>

        <a n:href="Data:edit 1234" class="btn btn-primary">Edit test (container 1234)</a>
    </div>
</div>
