{block content}
<div class="row">
    <div class="col">
        <p>TODO: Formulář pro editaci kontejneru</p>

        <a n:href="Data:delete $containerId" class="btn btn-primary">Delete test</a>
    </div>
</div>
