<!DOCTYPE html>
<html lang="{$HTML_LANG}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1">
    <title>{ifset $title}{$title|stripHtml} | {/ifset}Lishack CMS</title>
    <meta name="robots" content="noindex, nofollow">
    <meta name="author" content="Ladislav Alexa, www.lishack.cz">
    <link rel="shortcut icon" type="image/x-icon" href="{$baseUrl}/favicon.ico">
    <link rel="stylesheet" href="{$baseUrl}/assets/admin/dist/styles.css?v{$css_version}">
    <link rel="stylesheet" href="{$baseUrl}/assets/tinymce-bundle/dist/styles.css?v{$css_version_tinymce}">
    <script type="text/javascript">
        var baseUrl = {$baseUrl};
        var adminUrl = {$baseUrl . '/admin'}
        var editorLang = {$DEFAULT_LANG_TINYMCE};
        var editorAssetsVersion = {$css_version_tinymce};
        var userRole = {$user->getRoles()[0]};
    </script>
</head>

<body class="bg-dark text-white h-100">
    <main>
        {if $user->isLoggedin()}
            <div class="wrapper">
                {include 'layout/sidebar.latte'}

                <div class="main">
                    <main class="content pb-3 fullsize" id="content">
                        <nav class="navbar navbar-expand px-3 bg-dark border-bottom border-secondary fixed-top fullsize" id="menu-switch">
                            <button class="btn" type="button" data-bs-theme="dark">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </nav>

                        <div class="container-fluid mt-2 mb-5">
                            <div class="bg-secondary">
                                <div class="px-3">
                                    <h1 class="pt-3 mb-4 border-bottom border-warning text-warning">{ifset $title}{$title|stripHtml}{else}Lishack CMS{/ifset}</h1>

                                    {include 'layout/alerts.latte'}

                                    <div class="pb-4">
                                        {include content}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>

            </div>
        {else}
            {include content}
        {/if}
    </main>

    {include 'layout/footer.latte'}

    {block scripts}
        <script src="{$baseUrl}/assets/admin/dist/scripts.min.js?v{$js_version}"></script>
        <script async src="{$baseUrl}/assets/tinymce-bundle/dist/scripts.min.js?v{$js_version_tinymce}"></script>
    {/block}
</body>
</html>
