{block content}
<div class="row">
    <div class="col">
        <p>ID: {$userData[id]}</p>
        <p>User name: {$userData[name]}</p>
        <p>Role: {$userData[role]}</p>
        <p>E-mail: {$userData[email]}</p>
        <p>Full name: {$userData[full_name]}</p>
        <p>Session ID: {$userData[session_id]}</p>
        <p>Deleted: {$userData[deleted] ? 'Yes' : 'No'}</p>
        <p>Enabled: {$userData[enabled] ? 'Yes' : 'No'}</p>
    </div>
</div>
