parameters:
    database:
        host: 127.0.0.1
        port: 3306
        name: ""
        user: ""
        password: ""

    smsgate:
        url: https://api.smsbrana.cz/smsconnect/http.php
        login: ""
        password: ""
        sender_id: 0
        secured_login: true
