{if $user->isLoggedIn()}
    <div class="container">
        <div class="text-left mt-5">
            <a href="{$adminUrl}" class="btn btn-warning" role="button" target="_blank">ADMIN PANEL</a>
        </div>
    </div>
{/if}
