parameters:


application:
    errorPresenter: Error
    mapping:
        *: App\*Module\Presenters\*Presenter


database:
    user: %database.user%
    password: %database.password%
    dsn: "mysql:host=%database.host%;dbname=%database.name%"
    options:
        lazy: true


session:
    expiration: 14 days


di:
    export:
        parameters: no
        tags: no
