parameters:


application:
    errorPresenter: Error
    mapping:
        *: App\Modules\*\Presenters\*Presenter

        # Admin: App\Modules\Admin\Presenters\*Presenter
        # Ajax: App\Modules\Ajax\Presenters\*Presenter
        # Cron: App\Modules\Cron\Presenters\*Presenter
        # Website: App\Modules\Website\Presenters\*Presenter

database:
    user: %database.user%
    password: %database.password%
    dsn: "mysql:host=%database.host%;dbname=%database.name%"
    options:
        lazy: true


session:
    expiration: 14 days


di:
    export:
        parameters: no
        tags: no
