parameters:
    debugMode: 'auto'
    strictMode: false

application:
    errorPresenter: Error
    mapping:
        *: App\Modules\*\Presenters\*Presenter

console:
    name: Lishack CMS
    version: '1.0'
    catchExceptions: true
    autoExit: true
    url: https://localhost

database:
    user: %database.user%
    password: %database.password%
    dsn: "mysql:host=%database.host%;port=%database.port%;dbname=%database.name%"
    options:
        lazy: true

nettrine.dbal:
    connections:
        default:
            driver: pdo_mysql
            host: %database.host%
            dbname: %database.name%
            user: %database.user%
            password: %database.password%
            charset: utf8mb4
            schemaAssetsFilter: @App\Doctrine\SchemaAssetsFilter

nettrine.orm:
    managers:
        default:
            connection: default
            lazyNativeObjects: true

            mapping:
                App:
                    directories:
                        - %appDir%/Entity
                    namespace: App\Entity

nettrine.migrations:
    directories:
        App\Migrations: %appDir%/../db/migrations

session:
    expiration: 14 days

http:
    headers:
        X-Powered-By: off

tracy:
    # email:
    # fromEmail:
    logSeverity: E_ERROR
    maxLength: 150
    maxDepth: 10
    dumpTheme: 'dark'
    showLocation: true
    strictMode: false

di:
    export:
        parameters: yes
        tags: no
