search:
    default:
        in: %appDir%
        classes:
            - *Factory
            - *Facade

extensions:
    console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)

services:
    router: App\RouterFactory::createRouter
    security.passwords: Nette\Security\Passwords(::PASSWORD_BCRYPT, [cost: 12])
    authenticator: App\Models\Authenticator

    # Commands
    - App\Commands\CategoryUpdateCommand
    - App\Commands\DatasetAddCommand
    - App\Commands\UserAddCommand
    - App\Commands\UserPasswordCommand
    - App\Commands\UserRoleCommand

    # Models
    - App\Models\ArticleManager
    - App\Models\CategoryManager
    - App\Models\ConfigManager
    - App\Models\Files
    - App\Models\Gallery
    - App\Models\Helpers\AssetsVersion
    - App\Models\Images
    - App\Models\Installer
    - App\Models\RedirectManager
    - App\Models\SitemapGenerator
    - App\Models\SmsGate(%smsgate.url%, %smsgate.login%, %smsgate.password%, %smsgate.sender_id%, %smsgate.secured_login%)
    - App\Models\TranslationLanguage
    - App\Models\TranslationLog
    - App\Models\TranslationManager
    - App\Models\Upload
    - App\Models\UrlGenerator
    - App\Models\UserManager

    # Dataset
    - App\Models\Dataset\DatasetCreator
    - App\Models\Dataset\DatasetManager
    - App\Models\Dataset\DatasetUpdater
    - App\Models\Dataset\Repository\ColumnRepository
    - App\Models\Dataset\Repository\DataRepository
    - App\Models\Dataset\Repository\DatasetRepository

    # Vendor
    - Phinx\Console\PhinxApplication
    - Phinx\Wrapper\TextWrapper(@Phinx\Console\PhinxApplication)

    # Components
    - App\Components\Admin\UserListGrid
