search:
    default:
        in: %appDir%
        classes:
            - *Factory
            - *Facade


services:
    router: App\RouterFactory::createRouter
    authenticator: App\Models\Authenticator

    - App\Models\User
