search:
    default:
        in: %appDir%
        classes:
            - *Factory
            - *Facade

services:
    router: App\RouterFactory::createRouter
    authenticator: App\Models\Authenticator

    # Models
    - App\Models\Config
    - App\Models\Files
    - App\Models\Gallery
    - App\Models\Helpers\AssetsVersion
    - App\Models\Images
    - App\Models\Installer
    - App\Models\MenuManager
    - App\Models\SmsGate(%smsgate.url%, %smsgate.login%, %smsgate.password%, %smsgate.sender_id%, %smsgate.secured_login%)
    - App\Models\Upload
    - App\Models\UrlGenerator
    - App\Models\UserManager

    # Vendor
    - Phinx\Console\PhinxApplication
    - Phinx\Wrapper\TextWrapper(@Phinx\Console\PhinxApplication)

    # Forms
    - App\Components\Admin\UserForm
