<footer class="footer fixed-bottom py-2 bg-light border-top border-secondary" style="z-index: 10000">
    <div class="container text-center">
        <span class="text-primary">&copy; {date('Y')} Wlezley Lishack. All Rights Reserved.</span>
    </div>
</footer>
