{block content}
<div class="container mt-5">
    {if !$have_custom_h1}
        <h1>{$title}</h1>
    {/if}

    {foreach $article as $articleBlock}
        {$articleBlock|noescape}
    {/foreach}
</div>
