{block content}
<div class="row">
    <div class="col">
        <p>TODO: Formulář pro vytvoření článku</p>

        <hr class="my-3">

        <div class="codemirror-editor mt-3"></div>
    </div>
</div>
