{block content}
<div class="row">
    <div class="col">
        {control articleEditor}
    </div>
</div>


{* <div class="row">
    <div class="col">
        <p>Codemirror test:</p>
        <div class="codemirror-editor mt-3"></div>
    </div>
</div> *}
