{block content}
<div class="row">
    <div class="col">
        <p>TODO: Seznam článků (data grid)</p>

        <a n:href="Article:edit 1234" class="btn btn-primary">Edit test (article 1234)</a>
    </div>
</div>
