{block content}
<div class="row">
    <div class="col">
        <p>TODO: Formulář pro editaci článků</p>

        <textarea class="tinymce d-none">Hello, World!</textarea>

        <hr class="my-3">

        <a n:href="Article:delete $articleId" class="btn btn-primary">
            <i class="fa-solid fa-eraser pe-2"></i>
            Delete (ID {$articleId})
        </a>
    </div>
</div>
