{block content}
<div class="row">
    <div class="col">
        <p>TODO: Formulář pro editaci článků</p>

        <a n:href="Article:delete $articleId" class="btn btn-primary">Delete test</a>

        <hr class="my-3">

        <textarea class="tinymce d-none">Hello, World!</textarea>
    </div>
</div>
